@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body, input {
  font-family: 'Varela Round';
  font-size: 110%;
  color: #66CC66;
  background-color: white;
}

body {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
section {
    text-align: center;
    margin-bottom: 20px;
}

small {
    display: block;
}
small span {
    cursor: pointer;
    text-decoration: underline;
}
input['type=text'] {
  background-color: transparent;
  border: solid;
  border-width: 0 0 5px 0;
  outline: 0;
  box-shadow: none;
  text-align: center;
}
.details {
    text-align: center;
    display: inline-block;
}

.details input {
    margin-top: 20px;
}

#interactive.viewport {
    position: relative;
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}





#result_strip {
  margin: 10px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
}
#result_strip ul.thumbnails {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#result_strip ul.thumbnails > li {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}
#result_strip ul.thumbnails > li .thumbnail {
  padding: 5px;
  margin: 4px;
  border: 1px dashed #CCC;
}
#result_strip ul.thumbnails > li .thumbnail img {
  max-width: 140px;
}
#result_strip ul.thumbnails > li .thumbnail .caption {
  white-space: normal;
}
#result_strip ul.thumbnails > li .thumbnail .caption h4 {
  text-align: center;
  word-wrap: break-word;
  height: 40px;
  margin: 0px;
}
#result_strip ul.thumbnails:after {
  content: "";
  display: table;
  clear: both;
}


